{% extends 'layout.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <br>
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Giriş Yap</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Kullanıcı adı</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Parola</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                    </form>
                    <br>
                    Hesabın yok mu? <a href="{% url 'register' %}">Kaydol</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}